<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477397335162-f91cit8p19sh7ck4avsq2ckcau1hhpl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477397335162-f91cit8p19sh7ck4avsq2ckcau1hhpl2</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-nXxC1-RQjcvSEQx9abVdD9MWWEpCVw</string>
	<key>GCM_SENDER_ID</key>
	<string>477397335162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmaddorra.wallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-4120d</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-4120d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477397335162:ios:ce946c44b2557b7f984fc3</string>
</dict>
</plist>